doctype html
html
    head
        title Behaviour analyser
        script(type="text/javascript", src="/svg.js")
        script(type="text/javascript", src="/jquery-1.11.0.min.js")
        script(type="text/javascript", src="/graph.js")
        script(type="text/javascript", src="/bindings.js")
        link(href="/layout.css", rel="stylesheet")
    body
        h1 Lorem ipsum
        #graph
        #menu
            a.close(href="#") X
            ul
        #description