doctype html
html
    head
        title Behaviour analyser
        script(type="text/javascript", src="/svg.js")
        script(type="text/javascript", src="/jquery-1.11.0.min.js")
        script(type="text/javascript", src="/graph.js")
        script(type="text/javascript", src="/bindings.js")
        link(href="/layout.css", rel="stylesheet")
    body
        #graph
        #menu
            a.close(href="#") X
            ul
        #description
            #options
                a(href="/")
                    img.icon(src="/icon_home.png") 
                    span Show full graph
            ul