body {
    font-family: monospace;
    margin: 50px 0 125px 0;
    padding: 0;
}

#graph {
    width: 80%;
    min-height: 765px;
    margin: 0px auto;
}

#menu {
    border: 1px solid green;
    background: red;
    position: absolute;
    z-index: 10000;
    display: none;
}

#description {
    width: 100%;
    height: 75px;
    position: fixed;
    bottom: 0;
    background: yellow;
}

ellipse {
    cursor: pointer;
}